<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>to do lista</title>
</head>
<body>
    
    <div class="container">
        <div id="app">
            <h1>To do list</h1>
            <input type="text" v-model="newTask.text" placeholder="inserisci nuovo task" @keyup.enter="aggiungiTask">
            <button @click="aggiungiTask">aggiungi task</button>
    
            <div v-if="tasks.length === 0">La lista è vuota, sei libero!!</div>
            <ul v-esle>
                <li v-for="task, i in tasks" :mykey="i" :class="task.done === true ? 'done' : '' ">
                    {{task.text}}
                    <span @click="doneItem(i)">&check;</span>
                    <span @click="removeItem(i)">&#10007;</span>
                </li>
            </ul>
    
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>